<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahala Game</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="playerTurn">Player 1's turn</div>
    
    <div class="board">
        <div class="store" id=13>0</div>
        <div class="pits">
            <div class="row">
                <div class="pit" id=0>6</div>
                <div class="pit" id=1>6</div>
                <div class="pit" id=2>6</div>
                <div class="pit" id=3>6</div>
                <div class="pit" id=4>6</div>
                <div class="pit" id=5>6</div>
            </div>
            <div class="row">
                <div class="pit" id=12>6</div>
                <div class="pit" id=11>6</div>
                <div class="pit" id=10>6</div>
                <div class="pit" id=9>6</div>
                <div class="pit" id=8>6</div>
                <div class="pit" id=7>6</div>
            </div>
        </div>
        <div class="store" id=6>0</div>
    </div>
    <div id="winner"></div>
    <script src="scripts.js"></script>
</body>
</html>
